<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All ads</title>
</head>

<body>
    <% if (success && success.length) { %>
        <div>
            <%= success %>
        </div>
    <% } %>
    <% if (error && error.length) { %>
        <div>
            <%= error %>
        </div>
    <% } %>
    <h1>All ads</h1>
    <div>
        <a href="/ads/new"><button>Create new Ad</button></a>
    </div>
    <ul>
        <% for (let ad of ads) { %>
            <h3>
                <%= ad.company %>: <%= ad.text %> <a href="/ads/<%= ad._id %>"><button>Details</button></a>
            </br>
        </h3>
        <% } %>
    </ul>
    <a href="/"><button>Home Page</button></a>
</body>

</html>