<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All ads</title>
</head>

<body>
    <%= messages %>
    <h1>All ads</h1>
    <div>
        <a href="/ads/new">Create new Ad</a>
    </div>
    <ul>
        <% for (let ad of ads) { %>
            <div>
                <a href="/ads/<%= ad._id %>"><%= ad.company %>: <%= ad.text %></a>
                <img src="<%= ad.image %>" alt="image Ad" style="height: 30px;">
            </br>
        </div>
        <% } %>
    </ul>
</body>

</html>