<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Ad</title>
</head>

<body>
    <!-- The Flash "messages" should appear here %> -->
    <div><%= ad.company %></div>
    <div><%= ad.text %></div>
    <img src="<%= ad.image %>" alt="image Ad" style="height: 70px;">
    <a href="/ads/<%= ad._id %>/edit">Edit</a>
    <form action="/ads/<%= ad._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/ads">All ads</a>
</body>

</html>