<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Ad</title>
</head>

<body>
    <% if (success && success.length) { %>
        <div>
            <%= success %>
        </div>
    <% } %>
    <% if (error && error.length) { %>
        <div>
            <%= error %>
        </div>
    <% } %>
    <img src="<%= ad.image %>" alt="image Ad" style="height: 70px;">
    <div><%= ad.company %></div>
    <div><%= ad.text %></div>
    <a href="/ads/<%= ad._id %>/edit"><button>Edit</button></a>
    <form action="/ads/<%= ad._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/ads"><button>All ads</button></a>
    <a href="/"><button>Home Page</button></a>
</body>

</html>